.block {
	display: block;
	background: #cccccc;
	border: 1px inset #dedede;
	padding: 1rem;
	margin: 1rem;
	max-width: 32rem;
}
.small {
	font-size: small;
}
.menu.block {
	background: navy;
	color: white;
}
.menu a {
	color: white;
}